<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://unpkg.com/pdfjs-dist/build/pdf.js"></script>
    <title>Registration Form</title>
</head>

<body>
<form action="/register" method="post" enctype="multipart/form-data">
    <section class="registration">
        <div>
            <h2>Registration Form</h2>
            <label for="label" class="lable-text">Teacher Name</label>
            <input
                    type="text"
                    placeholder="Enter Teacher Name Here"
                    name="teacherName"
                    class="input-box"
            /><br/>

            <label for="label" class="lable-text">Are you the author ? </label>
            <input
                    type="checkbox"
                    placeholder="Enter Here"
                    name="isAuthor"
                    class="input-box"
            /><br/>

            <label for="label" class="lable-text">Title</label>
            <input
                    type="text"
                    placeholder="Enter Title Here"
                    name="title"
                    class="input-box"
            /><br/>

            <label for="label" class="lable-text">Branch</label>
            <select
                    name="branch"
                    class=""
                    id="bran"
                    onchange="getSub(this.value,document.getElementById('sem').value)"
            >
                <option value="CSE" selected>CSE</option>
                <option value="IT">IT</option>
                <option value="ECE">ECE</option>
                <option value="ME">ME</option>
            </select>

            <label for="label" class="lable-text">Type</label>
            <select name="type" class="dropdown-box">
                <option value="NOTES" selected>NOTES</option>
                <option value="BOOK">BOOK</option>
                <option value="SMPL">SAMPLE PAPER</option>
                <option value="SYLB">SYLLABUS</option>
                <option value="ASMT">ASSIGNMENT</option>
                <option value="PRFI">PRACTICAL FILE</option>
            </select
            ><br/>

            <label for="label" class="lable-text">Semester</label>
            <select
                    name="semester"
                    id="sem"
                    class=""
                    onchange="getSub(document.getElementById('bran').value,this.value)"
            >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>

            <label for="label" class="lable-text">Subject</label>
            <select id="search"></select
            ><br/>

            <label for="label" class="lable-text">Description</label>
            <textarea
                    placeholder="Enter Description Here"
                    name="description"
                    rows="4"
            ></textarea
            ><br/>

            <style>
                .step {
                    display: none;
                }

                body {
                    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial,
                    sans-serif;
                }
            </style>

            <div>
                <form id="pdfUpload">
                    <div class="step">
                        <input
                                type="file"
                                id="the_pdf"
                                accept=".pdf,application/pdf"
                                oninput="showTab(1)"
                                required
                        />
                    </div>

                    <div class="step">
                        <img id="pdf_preview"/>
                        <span id="preview_msg">Preview loading</span>
                    </div>

                    <div class="step">
                        <p>Some other information about you:</p>
                        <input type="text" id="your_name"/>
                    </div>

                    <div style="padding-top: 48px"></div>
                </form>
            </div>
            <canvas
                    id="the-canvas"
                    style="direction: ltr; display: none"
            ></canvas>

            <input type="submit" value="Submit" class="submit-form"/>
        </div>
    </section>
</form>

<script type="text/javascript" th:src="@{/scripts/get-subjects.js}"></script>
<script type="text/javascript" th:src="@{/scripts/load-preview.js}"></script>
<script>
    var currentTab = 0;
    showTab(currentTab);
    pdfjsLib.GlobalWorkerOptions.workerSrc =
        "https://unpkg.com/pdfjs-dist/build/pdf.worker.js";

    function showTab(n) {
        var x = document.getElementsByClassName("step");
        x[n].style.display = "block";
        document.getElementById("prevBtn").style.display = "inline";
    }
</script>
</body>
</html>
