<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Search</title>
</head>

<body>
<form action="/search" method="post">
    <section class="search">
        <div>
            <h2>Search</h2>

            <label for="label" class="lable-text">Branch</label>
            <select name="branch" class="" id="bran"
                    onchange="getSub(this.value,document.getElementById('sem').value)">
                <option value="CSE" selected>CSE</option>
                <option value="IT">IT</option>
                <option value="ECE">ECE</option>
                <option value="ME">ME</option>
            </select>

            <label for="label" class="lable-text">Semester</label>
            <select name="semester" id="sem" class=""
                    onchange="getSub(document.getElementById('bran').value,this.value)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>

            <label for="label" class="lable-text">Subject</label>
            <select id="search"></select>

            <input type="submit" value="Search" class="search-parameters"/>
        </div>
    </section>
</form>
<br>

<div th:each="book :${books}">
    <div class="card mb-3" style="max-width: 180px">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img
                        src=""
                        class="card-img"
                        alt="..."
                        style="max-width: 100px"
                />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${book.title}">Card title</h5>
                    <p class="card-description" th:text="${book.description}">
                        This is a wider card with supporting text below as a natural
                        lead-in to additional content. This content is a little bit
                        longer.
                    </p>
                    <p class="card-authorname" th:text="${book.authorNames}">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <p class="card-published" th:text="${book.publishedDate}">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                    <base href="/search/">
                    <a th:href="${book.id}">download</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="scripts/get-subjects.js">
    // window.onload = function () {
    //     getSub("CSE", "1");
    // };
    //
    // async function getSub(branch, sem) {
    //     const element = document.getElementById("search");
    //     const api_url = "http://localhost:8082/search/getSubjects";
    //
    //     const response = await fetch(api_url, {
    //         method: 'POST',
    //         body: JSON.stringify({
    //             "branch": branch,
    //             "sem": parseInt(sem)
    //         })
    //     })
    //
    //     const data = await response.json();
    //
    //     element.options.length = 0;
    //     for (i = 0; i < data.length; i++) {
    //         createOption(element, data[i], data[i]);
    //     }
    // }
    //
    // function createOption(ddl, text, value) {
    //     var opt = document.createElement('option');
    //     opt.value = value;
    //     opt.text = text;
    //     ddl.options.add(opt);
    // }
</script>

</body>
</html>
